<div class="header">
    <div  id = 'sort'>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        <select id = 'sort-select' (change)= "sort($event)"
        >
                <option value="" disabled selected hidden>Sort By Name</option>
                <option value="asc">Name (A - Z)</option>
                <option value="dec">Name (Z - A)</option>
              </select>

    </div>
  
    <div  id = 'search'>
        <input (keyup)= "search($event)" [disabled] = "statusDisabled"
        type="text">
    </div>

</div>